#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}
html, body {
  width: 100%;
  height: 100%;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

.product-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2rem;
  list-style-type: none;
  li {
    
  }
}
.product-card {
  .photo {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .rbn{
      position: absolute;
      top:0;
      right:0;
      width: 2.4rem;
      height: 2.4rem;
      background: red;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#fff;
      font-size:0.875rem
    }
  }
}
nav {
  padding:4vw;
}
.menu {
  display: flex;
  justify-content: center;
  gap:4vw;
  list-style-type: none;
  button {
    border-radius: 0;
    border:0;
    outline: none;
    &.active {
      background: #222;
      color:#fff;
      border-radius: 0;
      
    }
  }
}

.search-box {
  max-width:20rem;
  border-bottom:2px solid #222;
  margin:0 auto 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  input {
    width: 100%;
    border: 0;
    outline: none;
    padding:0.5rem;
    font-size: 1.1rem;
  }
}

.price{
  font-weight: 700;
}

.btn {
  background: red;
  color:#fff;
  border-radius: 0;
  border:0;
  &:hover{
    border:0
  }
  margin-top:2rem;
}
.product-detail-wrap {
  padding: 4vw;
}